<h3>Order Date: {{orderDate| date: 'fullDate'}}</h3>
<table class="table">
    <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Price in USD</th>
            <th>Price in EGP</th>
            <th>Quantity</th>
            <th>image</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr [hidden]="prd.quantity==0" *ngFor="let prd of prdList; let i=index"> -->
        <!-- <tr [style.background-color]="prd.quantity==0? 'lightyellow': 'white'" *ngFor="let prd of prdList; let i=index"> -->
        <!-- <tr [class.bg-warning]="prd.quantity==1" [ngStyle]="{'background-color': prd.quantity==0? 'lightyellow': 'white', 'color':prd.quantity==0? 'red': 'black'}" *ngFor="let prd of prdList; let i=index"> -->
        <tr [ngClass]="{'bg-warning': prd.quantity==1, 'text-primary': prd.quantity==1}" [ngStyle]="{'background-color': prd.quantity==0? 'lightyellow': 'white', 'color':prd.quantity==0? 'red': 'black'}" *ngFor="let prd of prdList; let i=index">
            <!-- <td>{{prd.id}}</td> -->
            <td>{{i+1}}</td>
            <td>{{prd.name}}</td>
            <td>{{prd.price | currency:'USD':'symbol'}}</td>
            <td>{{prd.price | dollarToEGP: 10 | currency: 'EGP'}}</td>
            <td>
                <!-- <div *ngIf="prd.quantity!=0">{{prd.price}}</div>
                <div *ngIf="prd.quantity==0">Out of stock</div> -->

                <!-- <div *ngIf="prd.quantity!=0; else outOfStock">{{prd.quantity}}</div>
                <ng-template #outOfStock>Out of stock</ng-template> -->

                <div [ngSwitch]="prd.quantity">
                    <div *ngSwitchCase="0">Out of Stock</div>
                    <div *ngSwitchCase="1">Last Item</div>
                    <div *ngSwitchCase="2">Last 2 items</div>
                    <div *ngSwitchDefault>{{prd.quantity}}</div>
                </div>
            </td>
            <!-- <td><img LightBox hoverColor="red" [src]="prd.imgURL" alt=""></td> -->
            <!-- <td><img [LightBox]="hoverColor" [src]="prd.imgURL" alt=""></td> -->
            <td><img LightBox="red" defaultColor="blue" [src]="prd.imgURL" alt=""></td>

        </tr>

    </tbody>
</table>