<!-- Interpolation -->
<!-- <img src="{{sInfo.headerImgURL}}" alt="" class="d-block img-fluid"> -->
<!-- Attribute binding -->

<div class="d-grid gap-2">
    <!-- Event Binding -->
    <button type="button" name="" id="" class="btn btn-primary m-2" (click)="toggleStore()">Toggle Store</button>
</div>

<!-- Structural Directives -->
<!-- <div *ngIf="sInfo.isOpen"> -->
<!-- Property Binding -->
<div [hidden]="!sInfo.isOpen">
    <img [src]="sInfo.headerImgURL" alt="" class="d-block img-fluid">
    <h2>Store Name: {{sInfo.storeName}}</h2>
    <h3>Our services:</h3>
    <!-- Structural Directives -->
    <ul>
        <li *ngFor="let item of sInfo.storeServices"> {{item}}</li>
    </ul>
</div>