<form [formGroup]="registerFormGroup" (ngSubmit)="register()">
    <div class=" mb-3 ">
        <label for="uName" class="form-label ">Full name</label>
        <input type="text" formControlName="fullName" class="form-control" id="uName " name="name " [class.is-invalid]="fullName?.invalid " [class.is-valid]="fullName?.valid ">
        <div [hidden]="fullName?.valid || fullName?.untouched ">
            <!--
                    let clarify what is the issue. We are talking about a template-driven form validation. 
                    You need to validate something, let's say to ensure that a field is required (call it firstName).
                     Note that from Angular v13, it changed a bit from an old code like this:
                    <div *ngIf="firstName.errors?.required">First Name is required</div>
                    to this
                    <div *ngIf="firstName.errors?.['required']">First Name is required</div>
                    Index Signature
            -->
            <div class="alert alert-warning" *ngIf="fullName?.errors?.['required']"> Name can't be empty</div>
            <div class="alert alert-warning" *ngIf="fullName?.errors?.['minlength']"> Name must be 3 characters at least</div>
            <div class="alert alert-warning" *ngIf="fullName?.errors?.['forbiddenName']"> {{fullName?.errors?.['forbiddenName'].value}} 'isn't allowed in full name'</div>

        </div>

    </div>
    <div class="mb-3 ">
        <label for="uEmail " class="form-label ">Email</label>
        <input type="email " formControlName="email" class="form-control " id="uEmail " name="email ">
    </div>
    <div class="mb-3 ">
        <div class="ms-2" formArrayName="mobileNumbers" *ngFor="let item of mobileNumbers.controls; let i=index">
            <label for="uMobile " class="form-label ">Mobile Number</label>
            <input type="text " [formControlName]="i" class="form-control">

            <button type="button" class="btn btn-secondary d-block ms-auto" (click)="addMobileNoInput()">+</button>
        </div>

    </div>
    <div formGroupName="address">
        <h3>Address</h3>
        <div class="mb-3 ">
            <label for="uCity" class="form-label ">City</label>
            <input type="text" formControlName="city" class="form-control " id="uCity " name="city ">
        </div>
        <div class="mb-3 ">
            <label for="uZipCode" class="form-label ">Zip Code</label>
            <input type="number" formControlName="zipCode" class="form-control " id="uZipCode " name="ZipCode ">
        </div>
        <div class="mb-3 ">
            <label for="uStreet" class="form-label ">Street</label>
            <input type="text" formControlName="street" class="form-control " id="uStreet " name="Street ">
        </div>
    </div>
    <div class="mb-3 ">
        <label for="uPass" class="form-label ">Password</label>
        <input type="password" formControlName="password" class="form-control " id="uPass " name="pass ">
    </div>
    <div class="mb-3 ">
        <label for="uConfPass" class="form-label ">Confirm Password</label>
        <input type="password" formControlName="confirmPassword" class="form-control " id="uConfPass " name="conf-pass ">
    </div>

    <div class="btn-group d-block m-3" role="group" aria-label="Basic radio toggle button group">
        You reached us through:
        <input type="radio" class="btn-check" formControlName="reachedThroughOther" (change)="updateValidation()" name="reachedThroughOther" id="btnradio1" value="3" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio1">Online</label>

        <input type="radio" class="btn-check" formControlName="reachedThroughOther" (change)="updateValidation()" name="reachedThroughOther" id="btnradio2" value="2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">Friend</label>

        <input type="radio" class="btn-check" formControlName="reachedThroughOther" (change)="updateValidation()" name="reachedThroughOther" id="btnradio3" value="1" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio3">Other</label>
        <div class="mb-3" *ngIf="reachedThroughOther?.value==1">
            <label for="reachedThrough" class="form-label ">please specify:</label>
            <input type="text" formControlName="reachedThroughOtherReason" class="form-control " id="reachedThrough" name="reachedTh">
        </div>
    </div>

    <button [disabled]="registerFormGroup.invalid " type="submit " class="btn btn-primary ">Register</button>
</form>
<br>
<hr>
<div>
    <h3>[To be removed] </h3>
    <div>Testing Values:
        <div>Form:{{registerFormGroup.value | json}}</div>
        <div>Validation: {{registerFormGroup.get('fullName')?.errors | json}}
            <br>Form errors: {{registerFormGroup.errors | json}}
        </div>
    </div>


    <div>
        <button type="button" class="btn btn-primary" (click)="fillForm()">Fill Form</button>
    </div>

</div>